@charset "UTF-8";



body {
   margin: 0;
}

.scene {
   background-attachment : fixed;
    background-size : cover;   
   height: 100vh;
   overflow: hidden;
}
 .scene.one { 
 background-image: url(img/bt1.jpg);
 background-size: 700px;}
 
 .scene.two { 
 background-image: url(img/bt3.jpg); 
background-size: auto;}
 
 .scene.three {
 background-image: url(img/bt4.png);

 }
  .scene.four { 
 background-image: url(img/bt5.png); 
  
  }
 

#videobcg
{ 

left: 95px;
/* min-width:   100vh; */
 min-height:  100vh;
width: auto;
 height: 200px;  
z-index: -1000;
overflow: hidden;
loop:loop;
width: 700px; 
display: block; 
margin: 0 auto;
} 
